@charset "utf-8";

:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Britti Sans";
  src:
    url("/fonts/BrittiSansTrial-Bold.woff2") format("woff2"),
    url("/fonts/BrittiSansTrial-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  --background-color: #e6e4e4;
  --text-color: #242424;
  --text-secondary: #6f6f6f;
  --navbar-color: rgb(230, 228, 228, var(--navbar-opacity));

  --button-background-color: #121212;
  --button-text-color: rgba(255, 255, 255, 0.95);
  --button-background-secondary: transparent;
  --button-text-secondary: inherit;

  --card-background-color: #eeeeee;
  --section-background-color: #faf8ff;

  --border-color: rgba(59, 7, 100, 0.05);
  --secondary-border-color: rgba(0, 0, 0, 0.2);
  --gradient-techs: linear-gradient(to top, transparent, hsl(0 0% 55% / 0.2));

  --github-color: #333;

  /* Common */
  --navbar-opacity: 0.75;
  --text-muted: #6c757d;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-full: 9999px;

  --squircle-sm: 16px;
  --squircle-md: 32px;
  --squircle-lg: 48px;

  --linkedin-color: #0077b5;
  --cdfs-color: #4c53af;

  /* Font */
  --font-title: "Britti Sans", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Geist", sans-serif;
}

body.dark {
  --background-color: black;
  --text-color: rgba(255, 255, 255, 0.95);
  --text-secondary: #aaaaaa;
  --navbar-color: rgb(0, 0, 0, var(--navbar-opacity));

  --button-background-color: white;
  --button-text-color: black;
  --button-background-secondary: transparent;
  --button-text-secondary: inherit;

  --card-background-color: #292929;
  --section-background-color: #101010;

  --border-color: rgba(255, 255, 255, 0.05);
  --secondary-border-color: rgba(255, 255, 255, 0.2);
  --gradient-techs: linear-gradient(to top, transparent, hsl(0 0% 100% / 0.2));

  --github-color: #f5f5f5;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1100px;
  padding: 0 5vw;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-body);
  transition: color 350ms ease 0s;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}
